body {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    cursor: crosshair;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    border-style: double;
}

ul {
    text-align: center;
    list-style-position: inside;
}

a {
    color: greenyellow;
}